* {
  background-color: #282c34;
  color: white;
}

#root {
  height: 100vh;
}

h1,
a {
  padding: 32px;
  text-align: center;
}

a {
  color: #3391ff;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
